<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow, all" />
    <title>Vhmis\View\Helper\DateTime | API</title>

            <link rel="stylesheet" type="text/css" href="../../../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../../css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="../../../css/sami.css">
        <script src="../../../js/jquery-1.11.1.min.js"></script>
        <script src="../../../js/bootstrap.min.js"></script>
        <script src="../../../js/typeahead.min.js"></script>
        <script src="../../../sami.js"></script>
    
    
    </head>

    <body id="class" data-name="class:Vhmis_View_Helper_DateTime" data-root-path="../../../">
            <div id="content">
        <div id="left-column">
                <div id="control-panel">
                <form id="search-form" action="../../../search.html" method="GET">
            <span class="glyphicon glyphicon-search"></span>
            <input name="search"
                   class="typeahead form-control"
                   type="search"
                   placeholder="Search">
        </form>
    </div>

                <div id="api-tree"></div>

        </div>
        <div id="right-column">
                <nav id="site-nav" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-elements">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../../index.html">API</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-elements">
                <ul class="nav navbar-nav">
                    <li><a href="../../../classes.html">Classes</a></li>
                                            <li><a href="../../../namespaces.html">Namespaces</a></li>
                                        <li><a href="../../../interfaces.html">Interfaces</a></li>
                    <li><a href="../../../traits.html">Traits</a></li>
                    <li><a href="../../../doc-index.html">Index</a></li>
                    <li><a href="../../../search.html">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>

                        <div class="namespace-breadcrumbs">
            <ol class="breadcrumb">
                <li><span class="label label-default">class</span></li>
                                                            <li><a href="../../../Vhmis.html">Vhmis</a></li>
                                        <li><a href="../../../Vhmis/View.html">View</a></li>
                                        <li><a href="../../../Vhmis/View/Helper.html">Helper</a></li>
    
                <li>DateTime</li>
            </ol>
        </div>
                <div id="page-content">
                
    <div class="page-header">
        <h1>DateTime</h1>
    </div>

    <p>    class
    <strong>DateTime</strong>        extends <a href="../../../Vhmis/View/Helper/HelperAbstract.html"><abbr title="Vhmis\View\Helper\HelperAbstract">HelperAbstract</abbr></a></p>

    
    
    
    
            <h2>Methods</h2>

            <div class="container-fluid underlined">
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_setView">setView</a>(<a href="../../../Vhmis/View/View.html"><abbr title="Vhmis\View\View">View</abbr></a> $view)
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../Vhmis/View/Helper/HelperAbstract.html#method_setView"><abbr title="Vhmis\View\Helper\HelperAbstract">HelperAbstract</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method___construct">__construct</a>()
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_format">format</a>($date, $dateStyle = 3, $timeStyle = 3, $pattern = &#039;&#039;)
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_formatInput">formatInput</a>(mixed $date, string $type = &#039;date&#039;)
                                            <p>Xuất định dạng ngày tháng cho ô input</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_relative">relative</a>($relative, $date, $dateStyle = 3, $timeStyle = 3, $pattern = &#039;&#039;)
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_appendPattern">appendPattern</a>($value, $pattern, $item)
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_yearMonth">yearMonth</a>($date)
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_yearWeek">yearWeek</a>($date)
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_linkYearMonth">linkYearMonth</a>($date)
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_linkYearWeek">linkYearWeek</a>($date)
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_range">range</a>($date1, $date2, $pattern)
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_ago">ago</a>($date1, $date2 = &#039;&#039;)
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_monthName">monthName</a>($month, $type = &#039;stand-alone&#039;, $format = &#039;wide&#039;)
                                            <p>Tên tháng</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_dayName">dayName</a>(string $day, string $type = &#039;stand-alone&#039;, string $format = &#039;wide&#039;)
                                            <p>Tên ngày trong tuần</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_fieldName">fieldName</a>($field, $format = &#039;displayName&#039;)
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_unit">unit</a>($number, $filed)
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
            </div>


        <h2>Details</h2>

            <div id="method-details">
                    <div class="method-item">
                    <h3 id="method_setView">
        <div class="location">in <a href="../../../Vhmis/View/Helper/HelperAbstract.html#method_setView"><abbr title="Vhmis\View\Helper\HelperAbstract">HelperAbstract</abbr></a> at line 15</div>
        <code>                    
    <strong>setView</strong>(<a href="../../../Vhmis/View/View.html"><abbr title="Vhmis\View\View">View</abbr></a> $view)</code>
    </h3>
    <div class="details">
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><a href="../../../Vhmis/View/View.html"><abbr title="Vhmis\View\View">View</abbr></a></td>
                <td>$view</td>
                <td>
</td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method___construct">
        <div class="location">at line 15</div>
        <code>                    
    <strong>__construct</strong>()</code>
    </h3>
    <div class="details">
                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_format">
        <div class="location">at line 21</div>
        <code>                    
    <strong>format</strong>($date, $dateStyle = 3, $timeStyle = 3, $pattern = &#039;&#039;)</code>
    </h3>
    <div class="details">
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td></td>
                <td>$date</td>
                <td>
</td>
            </tr>
                    <tr>
                <td></td>
                <td>$dateStyle</td>
                <td>
</td>
            </tr>
                    <tr>
                <td></td>
                <td>$timeStyle</td>
                <td>
</td>
            </tr>
                    <tr>
                <td></td>
                <td>$pattern</td>
                <td>
</td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_formatInput">
        <div class="location">at line 37</div>
        <code>                    string
    <strong>formatInput</strong>(mixed $date, string $type = &#039;date&#039;)</code>
    </h3>
    <div class="details">
                    <div class="method-description">
                                    <p>Xuất định dạng ngày tháng cho ô input</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>mixed</td>
                <td>$date</td>
                <td>Thời gian</td>
            </tr>
                    <tr>
                <td>string</td>
                <td>$type</td>
                <td>Loại xuất ra, 'date' => Chỉ ngày, 'time' => Chỉ giờ</td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td>
</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_relative">
        <div class="location">at line 48</div>
        <code>                    
    <strong>relative</strong>($relative, $date, $dateStyle = 3, $timeStyle = 3, $pattern = &#039;&#039;)</code>
    </h3>
    <div class="details">
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td></td>
                <td>$relative</td>
                <td>
</td>
            </tr>
                    <tr>
                <td></td>
                <td>$date</td>
                <td>
</td>
            </tr>
                    <tr>
                <td></td>
                <td>$dateStyle</td>
                <td>
</td>
            </tr>
                    <tr>
                <td></td>
                <td>$timeStyle</td>
                <td>
</td>
            </tr>
                    <tr>
                <td></td>
                <td>$pattern</td>
                <td>
</td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_appendPattern">
        <div class="location">at line 53</div>
        <code>                    
    <strong>appendPattern</strong>($value, $pattern, $item)</code>
    </h3>
    <div class="details">
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td></td>
                <td>$value</td>
                <td>
</td>
            </tr>
                    <tr>
                <td></td>
                <td>$pattern</td>
                <td>
</td>
            </tr>
                    <tr>
                <td></td>
                <td>$item</td>
                <td>
</td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_yearMonth">
        <div class="location">at line 58</div>
        <code>                    
    <strong>yearMonth</strong>($date)</code>
    </h3>
    <div class="details">
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td></td>
                <td>$date</td>
                <td>
</td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_yearWeek">
        <div class="location">at line 63</div>
        <code>                    
    <strong>yearWeek</strong>($date)</code>
    </h3>
    <div class="details">
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td></td>
                <td>$date</td>
                <td>
</td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_linkYearMonth">
        <div class="location">at line 68</div>
        <code>                    
    <strong>linkYearMonth</strong>($date)</code>
    </h3>
    <div class="details">
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td></td>
                <td>$date</td>
                <td>
</td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_linkYearWeek">
        <div class="location">at line 73</div>
        <code>                    
    <strong>linkYearWeek</strong>($date)</code>
    </h3>
    <div class="details">
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td></td>
                <td>$date</td>
                <td>
</td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_range">
        <div class="location">at line 78</div>
        <code>                    
    <strong>range</strong>($date1, $date2, $pattern)</code>
    </h3>
    <div class="details">
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td></td>
                <td>$date1</td>
                <td>
</td>
            </tr>
                    <tr>
                <td></td>
                <td>$date2</td>
                <td>
</td>
            </tr>
                    <tr>
                <td></td>
                <td>$pattern</td>
                <td>
</td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_ago">
        <div class="location">at line 83</div>
        <code>                    
    <strong>ago</strong>($date1, $date2 = &#039;&#039;)</code>
    </h3>
    <div class="details">
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td></td>
                <td>$date1</td>
                <td>
</td>
            </tr>
                    <tr>
                <td></td>
                <td>$date2</td>
                <td>
</td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_monthName">
        <div class="location">at line 96</div>
        <code>                    string
    <strong>monthName</strong>($month, $type = &#039;stand-alone&#039;, $format = &#039;wide&#039;)</code>
    </h3>
    <div class="details">
                    <div class="method-description">
                                    <p>Tên tháng</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td></td>
                <td>$month</td>
                <td>
</td>
            </tr>
                    <tr>
                <td></td>
                <td>$type</td>
                <td>
</td>
            </tr>
                    <tr>
                <td></td>
                <td>$format</td>
                <td>
</td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td>
</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_dayName">
        <div class="location">at line 109</div>
        <code>                    string
    <strong>dayName</strong>(string $day, string $type = &#039;stand-alone&#039;, string $format = &#039;wide&#039;)</code>
    </h3>
    <div class="details">
                    <div class="method-description">
                                    <p>Tên ngày trong tuần</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$day</td>
                <td>
</td>
            </tr>
                    <tr>
                <td>string</td>
                <td>$type</td>
                <td>
</td>
            </tr>
                    <tr>
                <td>string</td>
                <td>$format</td>
                <td>
</td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td>
</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_fieldName">
        <div class="location">at line 114</div>
        <code>                    
    <strong>fieldName</strong>($field, $format = &#039;displayName&#039;)</code>
    </h3>
    <div class="details">
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td></td>
                <td>$field</td>
                <td>
</td>
            </tr>
                    <tr>
                <td></td>
                <td>$format</td>
                <td>
</td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_unit">
        <div class="location">at line 119</div>
        <code>                    
    <strong>unit</strong>($number, $filed)</code>
    </h3>
    <div class="details">
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td></td>
                <td>$number</td>
                <td>
</td>
            </tr>
                    <tr>
                <td></td>
                <td>$filed</td>
                <td>
</td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
            </div>

    
            </div>
                <div id="footer">
        Generated by <a href="http://sami.sensiolabs.org/">Sami, the API Documentation Generator</a>.
    </div>

        </div>
    </div>
    </body>

</html>
